In [1]:
from pandas import read_excel,DataFrame,merge,concat,melt

In [3]:
origin=read_excel('./데이터파일/참고용/수변_반경별_행정동 - 복사본.xlsx')
origin

       행정동명
0      가락본동
1     가락제1동
2     가락제2동
3      가리봉동
4       가산동
...     ...
2864  홍제제3동
2865    황학동
2866  휘경제1동
2867  휘경제2동
2868    흑석동

[2869 rows x 1 columns]

In [14]:
origin1=origin['행정동명'].value_counts()
origin2=DataFrame(origin1)
origin2.to_excel('수변_행정동별_점수화.xlsx')